.body-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(100px); 
  padding: 0;
  margin: 0;
}



/* game screen components starts */
/* .MuiContainer-root.container.MuiContainer-maxWidthLg{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
} */

.imageContainer {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;

}

/* To the left image  */
.leftImageContainer {
  display: flex;
  transform: translateZ(-10);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 50vw;
}


.centerTimerContainer {
  min-height: 100px;
  min-width: 100px;
  font-size: 50px;
  position: relative;
  left:3%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.rightImageContainer {

  display:flex;
  transform: translateZ(-10);
  height: 100%;
  width: 50vw;
}











/* game screen components ends*/







/* .pack-term {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 33.33333%;
  text-align: center;
  background-size: cover;
  background-position: center center;
}

.pack-term:nth-child(2) .pack-term__wrapper {
  height: 70%;
}

@media screen and (orientation: landscape) {
  .pack-term:nth-child(2) .pack-term__wrapper {
    height: 100%;
  }
}

@media screen and (min-width: 60em) {
  .pack-term:nth-child(2) .pack-term__wrapper {
    height: 100%;
  }
}

.pack-term:before {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (min-width: 60em) {
  .pack-term {
    width: 33.33333%;
    height: 100%;
    float: left;
  }
}

@media screen and (orientation: landscape) {
  .pack-term {
    width: 33.33333%;
    height: 100%;
    float: left;
  }
}

.pack-term__wrapper {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (orientation: landscape) {
  .pack-term__wrapper {
    top: -8%;
  }
}

@media screen and (min-width: 60em) {
  .pack-term__wrapper {
    top: 0;
  }
}

.pack-term__wrapper--current {
  vertical-align: top;
}

@media screen and (min-width: 41.25em) {
  .pack-term__wrapper--current {
    padding-bottom: .625rem;
    top: 0;
  }
}

@media screen and (orientation: landscape) {
  .pack-term__wrapper--current {
    padding-top: 0;
    padding-bottom: .625rem;
  }
}

.pack-term__attribution {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 11px;
}

.button {
  background-color: #4CAF50;

  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
} */

