.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .container {
    /* background: url(https://images.unsplash.com/photo-1585172080917-562974114ef6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=967&q=80) no-repeat fixed center top; */
    background-size: cover;
    overflow: auto;
    position: fixed;
    flex-direction: column;
    inset: 0;  
    width: 100vw;
    height: 100vh;
  }
  
  #h1 {
    color: white;
  }
  #h2 {
    color: whitesmoke;
  }
  
  .titles {
    color: pink;
  }
  
  /* .userNameright {
    clickablecolorprimary: limegreen;
  }
  .MuiChip-clickableColorPrimary {
    color: limegreen;
  }
  .MuiChip-clickableColorSecondary {
    color: red;
  }
  .userNamewrong {
    clickablecolorprimary: red;
  } */